@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

@keyframes translateDown {
  0% {
    transform: none;
  }
  100% {
    transform: translateY(2.25rem);
  }
}

@keyframes translateUp {
  0% {
    transform: none;
  }
  100% {
    transform: translateY(-2.25rem);
  }
}

@keyframes scaleYDown {
  0% {
    opacity: 0;
    transform-origin: bottom;
    transform: translateX(-50%) scaleY(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scaleY(1);
  }
}

@keyframes scaleYUp {
  0% {
    opacity: 0;
    transform-origin: top;
    transform: translateX(-50%) scaleY(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scaleY(1);
  }
}

@keyframes letterSpacing {
  0% {
    opacity: 0;
    letter-spacing: 0;
  }
  100% {
    opacity: 1;
    letter-spacing: 1rem;
  }
}

.title {
  font-size: 80px;
  font-weight: 700;
  font-family: 'Josefin Sans', serif;
  color: #fff;
  opacity: 0;
  text-transform: uppercase;
  text-shadow: 0 15px 30px rgba(#000, 0.15);
  animation: letterSpacing 1s 0.6s;
  animation-fill-mode: forwards;
}

html {
  display: flex;
  height: 100%;
  width: 100%;
}

body {
  height: 300vh;
  margin: auto;
  text-align: center;
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#mapid { 
  height: 180px; 
}